<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <title>The Movie Database</title>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/manifest.json" rel="manifest">

</head>

<body>
    <header>
        <nav>
           <a href="#start" id="logo"><img src="/img/logo.png"></a>
           <ul id="navList">
               <li><a href="/movies">Movies</a></li>
           </ul>

        </nav>
    </header>

