<% include partials/head %>
<section>
  <p>Today's date: <span id="date"></span></p>
  <p>What is your name?<button class="intro" id="button"> Tell me  :)</button><span id="demo"></span></p>
</section>
<article id="queryResult">
    <% if (movies) { %>
      <% movies.forEach(function(movie) { %>
         <div class="searchResult">
           <a href="/movies/<%=movie.id%>">
                <h1><%=movie.title%></h1>

                <img src="<%=url + movie.poster_path %>">
            </a>
        </div>
        <% }) %>

    <% } %>
</article>

<% include partials/foot %>






