<% include partials/head %>

<h1>Hoi</h1>

<% if (movies) { %>
  <% movies.forEach(function(movie) { %>

    <article>
        <h1 class="title"><%=movie.original_title%></h1>
        <figure>
            <img src="<%= url + movie.poster_path %>">
        </figure>
    </article>
    <% }) %>

  <% } %>


<% include partials/foot %>
