<% include partials/head %>
<section>
   <p>What is your name?<button class="intro" onclick="myFunction()"> Tell me!</button></p>
   <p id="demo"></p>

</section>
<article id="queryResult">
    <% if (movies) { %>
      <% movies.forEach(function(movie) { %>
         <div class="searchResult">
           <a href="/movies/<%=movie.id%>">
                <h1><%=movie.title%></h1>

                <img src="<%=url + movie.poster_path %>">
            </a>
        </div>
        <% }) %>

    <% } %>
</article>

<% include partials/foot %>






